html {
    scroll-behavior: smooth;
    background-color: #1a2832;
    position: relative;
}

body {
    font: normal 20px Arial;
}

.bar_top, .navbar, .active {
    background-color: #4d4d4dff;
    color: white;
}

h1 {
    font: normal 40px Arial;
    color: #373748ff;
}

h3, .contact {
    font: normal 30px Arial;
    color: #373748ff;
}

.placeholder {
    font: normal 20px Roboto;
}

.contact {
    font-family: Calibri;
}

.presentation {
    background-color: #e1dedbff;
    color: black;
}

img {
    width: 81%;
}

.contactbox, .contentframe {
    background-color: white;
    color: black;
}

.contentframe {
    display: flex;
    flex-direction: column;
}

.rouge {
    background-color: #7f0d34ff;
    color: white;
}

.line {
    height: 20px;
    background-color: grey;
}

.contentframe2, .dataframe {
    width: 20%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.linebet {
    height: 1px;
}

.icon {
    object-fit: contain;
    width: 80%;
}

.bleu {
    background-color: #275682ff;
    color: white;
}

h5 {
    font: normal 15px Arial;
    color: #373748ff;
}
