body {
    font: normal 25px Arial;
}


h1
{
    font: normal 50px Muli;
}

h3
{
    font: normal 30px Muli;
}
.placeholder

{
 font: normal 26px Muli;
}


.contact {
    font: normal 20px Bree Serif;
}



