html {
    scroll-behavior: smooth;
    background-color: #1a2832;
    position: relative
}

body {
    font: normal 25px Arial;
}

.bar_top {
    background-color: #202020ff;
    color: white
}

h1 {
    font: normal 40px Muli;
}

h3 {
    font: normal 30px Muli;
}

.placeholder {
    font: normal 20px Muli;
}

.contact {
    font: normal 20px Bree Serif;
}

.navbar {
    background-color: teal;
    color: white;
    position: sticky;
    top: 0
}

.active {
    background-color: grey;
    color: white;
    top: 0
}

.presentation {
    background-color: #e1dedbff;
    color: black;
}

img {
    width: 90%;
}

.contactbox {
    background-color: white;
    color: #3d5e76;
}

.rouge {
    background-color: #7f0d34ff;
    color: white
}

.contentframe {
    background-color: grey;
    color: white
}

.line {
    height: 20px;
    background-color: grey
}

.contentframe2 {
    background-color: #c44b76ff;
    color: white;
    width: 20%
}

ul {
    list-style: none;
    margin: 0;
    padding: 5px
}

.linebet {
    height: 1px
}

.icon {
    object-fit: contain;
    width: 80%
}

.bleu {
    background-color: #275682ff;
    color: white
}

.dataframe {
    background-color: #6c94c4ff;
    color: white;
    width: 20%
}